body {
    background:#876AA3;
    width:50%;
    margin:0 auto;
}
.bio{
  border: 20px dashed blue;
}
.lol{
font-size: medium
}
.NikeYeezy{
width: 40%;
height : 60%
}
.AddYeezy{
    width:60%;
    height: 60%;
}
.KanyeAlbum{
    width:70%;
    height: 60%
}
