body{
    background-image: url('https://images8.alphacoders.com/548/thumb-1920-548142.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
   
}
h1{
    color:white;
    text-align: center;
    font-family: "Impact";
    font-size: 80px;
    text-shadow: -5px -5px 4px gray;
}
.centerPage{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  height:400px;
  font-weight: bold;
  text-align: center;
}

#pokename{
    font-family: Verdana;
    text-transform: capitalize;
    text-align: center;
    height: 30px;
    width: 100%;
    font-size: 80px;
}
#YourPokemon{
    align-content: center;
    height:250px;
    width:250px;
}
#loadingPokemon {
    display: none;
}
button {
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
}
#giphy{
    height: 300px;
    width: 300px;
}
@import url('https://fonts.googleapis.com/css?family=Inconsolata%7CNunito%7CRubik%7CVT323');
/*font-family: 'Rubik', sans-serif;*/
/*font-family: 'Inconsolata', monospace;*/
/*font-family: 'VT323', monospace;*/
/*font-family: 'Nunito', sans-serif;*/

body{
    text-align: center;
    background-repeat: no-repeat;
    color: white;
}

h1{
    font-family: 'Rubik', sans-serif;
    width: 50%;
    margin: 0 auto 20px auto;    
}
span{
    font-family: 'Inconsolata', monospace;
    padding-left: 10px;
}

h2{
    font-family: 'VT323', monospace;  
    font-size: 2em;
    margin-bottom: 0;
}

p{
    font-family: 'Nunito', sans-serif;    
   margin-top: 5px;
}



.g-signin2{
    position: absolute;
    top: 10px;
    right: 20px;
}

.signOut{
    position: absolute;
    top: 10px;
    right: 10px;
    color:white;
}

.userData{
    width: 200px;
    margin: 0 auto;
}

.userImg{
    border: 2px solid blanchedalmond;
    border-radius: 50%;
    width:150px;
    height:150px;
    padding:4px;
    margin: 0 auto;
    background-color: rebeccapurple;
 border-radius: 50%;
    width:150px;
   /*Rainbow effect taken from https://codepen.io/nohoid/pen/kIfto*/
    background: linear-gradient(90deg, #ff2400 , #e81d1d , #e8b71d , #e3e81d , #1de840 , #1ddde8 , #2b1de8 , #dd00f3 , #dd00f3 );
    background-size: 1800% 1800%;
    animation: rainbow 18s ease infinite;
}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.hidden{
    display: none;
}
#Stats{
    font-family: Verdana;
    text-transform: capitalize;
    text-align: center;
    
}
.buttons{
    width:100%;
}
.Gen1buttons{
    float:left !important;
}
.Gen2buttons{
    float:left !important;
}
.Gen3buttons{
    float:left !important
}
.Gen4buttons{
    float:right !important;
}
.Gen5buttons{
    float:right !important;
}
.Gen6buttons{
    float:right !important
}
